html{
    --primary-bg-color: #f7f7f7;
    --secondary-bg-color: #fff;
    --nav-bg-color: #fff;
    --nav-bg-color-hover: #ccc;
    --nav-bg-color-active: #bbb;
    --hero-text-color: #fff;
    --primary-text-color: #333132;
    --additional-color: #013883;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Lora', serif;
}