*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html{
    width: 100%;
    height: 100%;
    font-size: 16px;
}


.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 32px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nav nav nav nav"
                        "hero hero hero hero"
                        "main main main main"
                        "func func func func"
                        "more more more more"
                        "mail mail mail mail"
                        "onas onas onas onas";

    
}


.nav{
    grid-area: nav;
}

.nav {
    grid-area: nav;    
    outline: 1px dotted grey;
    background: white;
    overflow: auto;
    position: fixed;
    font-size: 16px;
    width: 100%;
}

.link-nav {
    margin-bottom: 32px;
    display: inline-block; 
} 

/* menu            */
/* =============== */

.nav .nav__link {
    text-decoration: none;
    padding: 0 16px 0 16px;
    line-height: 32px;
    color: black;
    text-align: center;
    width: 100px;
    transition: all 0.4s;
}
.nav .nav__link.icon {
    width: 44px;
}
.nav .nav__link:not(.icon):hover {
    background-color: #ccc;
    color: #333;
}

/* mobile first */
.nav .nav__wrapper {
    list-style: none;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;   
}
.nav .nav__link:not(.icon) {
    display: none;
}

/* desktop */
@media screen and (min-width: 636px) {
    .nav .nav__wrapper {
        justify-content: flex-start;   
    }    
    .nav .nav__link:not(.icon) {
        display: block;
    }
    .nav .nav__link.icon {
        display: none;
    }
}

/* mobile - responsive */
@media screen and (max-width: 635px) {
    .nav.responsive .nav__wrapper .nav__link {
        display: block;
    } 
    .responsive .nav__wrapper {
        flex-direction: column;
    }
    .nav.responsive .nav__wrapper .nav__link.icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav .nav__link {
        width: 100%;
        text-align: left; /* center */
        display: block;
    }
}






.hero{
    grid-area: hero;
    width: 100%;
    height: 400px;
    background-image: url(Gda.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Fira Sans', sans-serif;

    
}

.hero__opis{
    width: 65%;
    height: 100%;
    padding-left: 20px;
    color: white;     

}

.hero__opis h1{
    text-align: center;
    margin-top: 16px;
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    font-family: 'Fira Sans', sans-serif;
}

.hero__opis p{
    font-size: 1rem;
    line-height: 1,5;
    letter-spacing: 1px;
    font-family: 'Fira Sans', sans-serif;

}

.main{
    grid-area: main;
    
}

.func{
    grid-area: func;
    background-color: #f7f7f7;
    align-self: center;
    justify-content: space-around;
    
}
.func li{
    margin: 8px;
    text-align: center;

}

.func ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 16px;
    margin-bottom: 8px;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
}

.fa-check-circle {
    color: #013883;
    font-size: 4em;
}
.more{
    grid-area: more;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    padding: 25px 0;

}

.more__wrapper{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    
}

.more__col{
    padding: 10px 50px;
    width: 100%;
    text-align: center;
}

.more__col ul{
    list-style: none;

}
.more__col img{
    border-radius: 50%;
}

.more__col div{
    margin-top: 20px;
    padding: 10px;
}

.more__col div:hover{
    background-color: white;
    border-radius: 20px;
}

.mail{

    grid-area: mail;
}

.onas{
    grid-area:  onas;
    background-color: #f7f7f7;
}

h2 {
    text-align: center;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 16px;
    padding-bottom: 16px;
}

.onas__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.onas__info img {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.onas__info ul {
    list-style: none;


}

.onas__info {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #013883;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 970px) {
    .onas__info {
        margin-left: 100px;
        margin-right: 100px;
    }

    .func li{
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
        padding: 8px
    }
}

@media screen and (max-width: 1024px){
    .onas__info{
        margin-left: 55px;
        margin-right: 55px;
    }
}

@media screen and (min-width: 1025px){
    .onas__info{
        margin-left: -10px;
        margin-right: -10px;
    }
}


 @media screen and (max-width: 530px) {
    .func li{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        padding: 8px
    }
}

@media (min-width:768px) {
    html, body {
        font-size: 18px;
    }
    .hero__opis{
        width: 40%;
    }
    .more__wrapper{
        display: flex;
        justify-content: space-around;
        
    }
   
}

