* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100%;
    width: 100%;
}
.container > div {
    outline: 1px solid red;
}


.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 32px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nav nav nav nav"
                        "hero hero hero hero"
                        "main main main main"
                        "func func func func"
                        "more more more more"
                        "mail mail mail mail"
                        "onas onas onas onas";
}


.nav{
    grid-area: nav;
}

.nav {
    grid-area: nav;    
    outline: 1px dotted red;
    background: orange;
    overflow: auto;
    position: fixed;
    font-size: 1.2em;
    width: 100%;
}

/* menu */
.nav ul {
    /* display: flex;
    flex-wrap: wrap; */
    list-style: none;
    display: flex;
    flex-direction: row;    
}
.nav li {
    /* list-style: none; */
}
.nav a {
    text-decoration: none;
    display: block;
    /* width: 150px; */
    padding: 0 15px 0 15px;
    line-height: 32px;
    color: white;
    text-align: left;
}
.nav .icon {
    display: none;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.link-nav {
    margin-bottom: 32px;
    display: inline-block; 
}





.hero{
    grid-area: hero;

}

.main{
    grid-area: main;
    
}

.func{
    grid-area: func;
    background-color: #f7f7f7;
    align-self: center;
    justify-content: space-around;
    
}
.func li{
    margin: 8px;
    text-align: center;

}

.func ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 8px;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
}

.fa-check-circle {
    color: green;
    font-size: 4em;
}
.more{
    grid-area: more;

}

.mail{

    grid-area: mail;
}

.onas{
    grid-area:  onas;
    background-color: #f7f7f7;
}

h2{
    text-align: center;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
}

.onas__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.onas__info img {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.onas__info ul {
    list-style: none;



}

.onas__info {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;

}

a{
    text-decoration: none;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color:green ;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 970px) {
    .onas__info {
        margin-left: 100px;
        margin-right: 100px;
    }

    .func li{
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
        padding: 8px
    }
}

@media screen and (max-width: 1024px){
    .onas__info{
        margin-left: 55px;
        margin-right: 55px;
    }
}

@media screen and (min-width: 1025px){
    .onas__info{
        margin-left: -10px;
        margin-right: -10px;
    }
}


 @media screen and (max-width: 530px) {
    .func li{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        padding: 8px
    }
}



@media screen and (max-width: 635px) {
    .container {
        grid-template-rows: 128px 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .nav a {
        display: none;
    }
    .nav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 635px) {
    .responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .responsive a {
        display: block;
    } 
    .nav ul {
        flex-direction: column;
    }
}