
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html{
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 32px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"nav nav nav nav"
                        "hero hero hero hero"
                        "main main main main"
                        "func func func func"
                        "more more more more"
                        "mail mail mail mail"
                        "onas onas onas onas";

    

}

.nav {
    grid-area: nav;
}

.hero{
    grid-area: hero;
    width: 100%;
    height: 400px;
    background-image: url(Gda.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    
}

.hero__opis{
    width: 65%;
    height: 100%;
    padding-left: 20px;
    color: white;     

}

.hero__opis h1{
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.6;
    letter-spacing: 2px;
    border-bottom: 1px solid;
}

.hero__opis p{
    font-size: 1rem;
    line-height: 1,5;
    letter-spacing: 1px;

}

.main {
    grid-area: main;
    
}

.func {
    grid-area: func;
    /*background-color: #f7f7f7;*/
    background-color: #20bf55;
    background-image: linear-gradient(1deg, #20bf55 0%, #01baef 100%);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    align-self: center;
    justify-content: space-around;
    
    background-color: #f7f7f7;
    align-self: center;
    justify-content: space-around;
    
}
.func li{
    margin: 8px;
    text-align: center;

}

.func ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 8px;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
}


.func li {
    margin: 8px;
    text-align: center;

}

.func ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 8px;
    margin-bottom: 8px;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
    
}

.fa-check-circle {
    color: green;
    font-size: 4em;
}
.more{
    grid-area: more;

}

.fa-check-circle {
    color:white;
    font-size: 3em;
}
.more {
    grid-area: more;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    padding: 25px 0;

}

.more__wrapper {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;*/
    
}

.more__col{
    padding: 10px 50px;
    width: 100%;
    text-align: center;
}

.more__col ul{
    list-style: none;

}
.more__col img{
    border-radius: 50%;
}

.more__col div{
    margin-top: 20px;
    padding: 10px;
}

.more__col div:hover{
    background-color: white;
    border-radius: 20px;
}

.mail {

    grid-area: mail;
}

.onas {
    grid-area:  onas;
    /*background-color: #f7f7f7;*/
    background-color: #20bf55;
    background-image: linear-gradient(1deg, #20bf55 0%, #01baef 100%);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}

h2 {

    background-color: #f7f7f7;
}

h2{
    text-align: center;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
}

.onas__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.onas__info img {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.onas__info ul {
    list-style: none;


}

.onas__info {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color:white;
    font-family: 'Fira Sans', sans-serif;
    

}

a {

    color: #333132;
    font-family: 'Fira Sans', sans-serif;

}

a{
    text-decoration: none;
    color: #333132;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color:white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;

    text-decoration: underline;
    color:green ;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 970px) {
    .onas__info {
        margin-left: 100px;
        margin-right: 100px;
    }

    .func li{
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
        padding: 8px
    }
}

@media screen and (max-width: 1024px){
    .onas__info{
        margin-left: 55px;
        margin-right: 55px;
    }
}

@media screen and (min-width: 1025px){
    .onas__info{
        margin-left: -10px;
        margin-right: -10px;
    }
}


 @media screen and (max-width: 530px) {
    .func li{
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        padding: 8px
    }
}

.logo {
    display: flex; 
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /*background-color: #f7f7f7;
    background-color: #20bf55;*/
    background-image: linear-gradient(1deg, #20bf55 0%, #01baef 100%);
    padding: 8px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  
}
.logo img {
  width: 150px;
  height: 150px;  
  border: 1px solid #333132;
  border-radius: 10px;
  /*border-radius: 50%*/
  padding: 8px;
}

.logo__name {
  font-size: 2em;
  color: #333132;
  align-self: center;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}



@media (min-width:768px) {
    html, body {
        font-size: 18px;
    }
    .hero__opis{
        width: 40%;
    }
    .more__wrapper{
        display: flex;
        justify-content: space-around;
        
    }
   
}
