html{
    --primary-bg-color: #f7f7f7;
    --secondary-bg-color: #fff;
    --nav-bg-color: #fff;
    --nav-bg-color-hover: #ccc;
    --hero-text-color: #fff;
    --primary-text-color: #333132;
    --additional-color: #013883;
}

